.table {
    margin-top: 50px;
    width: 100%; /* La table prend toute la largeur du conteneur */
    min-height: 50px; /* Hauteur minimale de la table */
    background-color: #fff; /* Fond blanc pour la table */
    color: black; /* Texte en noir */
    border-radius: 10px; /* Coins arrondis pour la table */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
    border-color: #3533ab;
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Effet au survol des lignes */
  }
  
  .table th,
  .table td {
    text-align: center; /* Centrer le texte dans les cellules */
    vertical-align: middle;
    color: black; /* Aligner verticalement le contenu */
  }
  
  .table th {
    background-color: #3533ab; /* Couleur de fond des en-têtes */
    color: white; /* Couleur du texte des en-têtes */
  }
  
  .table td {
    background-color: #f4f4f4; /* Couleur de fond des cellules */
  }
  
  .table td,
  .table th {
    padding: 15px; /* Espacement dans les cellules */
  }
  
  .table tbody tr td {
    border-bottom: 1px solid #ddd; /* Bordure de séparation entre les lignes */
  }
  
  .table tbody tr:last-child td {
    border-bottom: none; /* Enlever la bordure sur la dernière ligne */
  }
  
  .table .btn-warning {
    background-color: #3533ab; /* Couleur orange pour le bouton d'action */
    color: white; /* Texte en blanc pour le bouton */
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  .table .btn-warning:hover {
    background-color: #3533ab; /* Changer la couleur au survol */
  }
  
  /* Modification pour la cellule produit */
  .produit-cell {
    display: flex;
    align-items: center; /* Aligner image et texte au centre verticalement */
    justify-content: flex-start; /* Aligner à gauche */
  }
  
  .produit-cell img {
    width: 50px; /* Taille de l'image */
    height: 50px; /* Taille de l'image */
    margin-right: 10px; /* Espace entre l'image et le texte */
  }
  
  .produit-cell span {
    font-weight: bold; /* Mettre le nom du produit en gras */
  }
  
  /* Uniformiser les cellules (Produit, Prix, Action) */
  .table td {
    border: 1px solid #ddd; /* Ajout de bordure pour uniformiser */
    padding: 15px; /* Espacement uniforme */
  }
  
  .table td[colspan="3"] {
    background-color: white; /* Couleur pour la cellule du panier vide */
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
  }
  